<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB06QIqygKRBVEMn7dO1f-kF7wcQ0NKIHc</string>
	<key>GCM_SENDER_ID</key>
	<string>402017324874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.moviekeeper</string>
	<key>PROJECT_ID</key>
	<string>moviekeeper-49d9d</string>
	<key>STORAGE_BUCKET</key>
	<string>moviekeeper-49d9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402017324874:ios:4c50c942ef0c7adf66bbb3</string>
</dict>
</plist>